In [1]:
import pandas as pd

In [3]:
class Serp():
    def __init__(self, *, url, name, formdata):
        self.name = name
        self.firstpage_url = url
        self.formdata = formdata
        self.response_text = ""

    def __repr__(self):
        return self.name


class Listing():
    def __init__(self, custom_name, **entries):
        self.__dict__.update(entries)
        self.custom_name = custom_name
        self.date_accessed = date.today()

    def __hash__(self):
        return hash(self.custom_name)

    def __eq__(self, other):
        return self.custom_name == other.custom_name

    def __repr__(self):
        return self.custom_name

In [7]:
object_list = pd.read_pickle("/Users/work/Dropbox/Projects/Working Data/bizbuysell/listings20191221_parsed.pkl")

In [57]:
[obj.details for obj in object_list[:1]]

[{'Location': 'Craig, AK',
  'Employees': '-2',
  'Facilities': '1) \tFloat 1 with the house and processor $40,000 \t\r\n\t\r\n2)\tFloat 2, work float $30,000\r\n\t \t\r\n3)\t7 Growout rafts avg. value each $1500    $10,500\r\n\r\n4)\tTumbler raft with 6 tumblers $4000\r\n\r\n5) \t24‚Äù tumbler $2000\r\n6) \tSpat Tumbler $4000\r\n\r\n7)   Work float $2000\r\n\r\n8) \t2000 trays $24,000\r\n\r\n9) \tTray slings 210 $2,520\r\n10) \tAnchors and mooring lines $4,500\r\n11)\t Blue boat and 90HP Yamaha motor, radio and gps $5,000\r\n12) \tOysters of various sizes with values according to USDA $152,000\r\n13)\tNew (August 2018) Yamaha 4500 generator $3400\r\n                     $28',
  'Competition': 'No where to go but UP!!',
  'Growth & Expansion': 'Its up to you. There is plenty of room in the 6.9 acres of tide land lease for more infrastructure and product. There is also more area to lease in one finds it necessary. I sell over 50,000 oysters a year by myself a well run operation with a little more infrastructure could do 500,000 a year. I sell my oysters for $1 dollar each fob the local airport and charge for the box!',
  'Support & Training': 'I will help as much as I can. I would love to stay a part of the operation and am obviously quite up to speed on all aspects of it',
  'Reason for Selling': '68 years old an body is giving up',
  'Business Website': 'http://oysteralaska.com'}]

In [59]:
dicts_list = []
for obj in object_list:
     obj.financials["url"] = obj.url
     if hasattr(obj, "details"):
        employees_present = "Employees" in obj.details
        if employees_present:
            obj.financials["Employees"] = obj.details["Employees"]
        else:
            obj.financials["Employess"] = "Not Present"
        dicts_list.append(obj.financials)

df = pd.DataFrame(dicts_list)
df.head()

,Asking Price,Cash Flow,EBITDA,Employees,Employess,Established,FF&E,Gross Revenue,Inventory,Multiple,Real Estate,Rent,allInPrice,notIncluded,url
0,N/A,N/A,N/A,-2,NaN,2010,N/A,N/A,N/A,N/A,NaN,NaN,N/A,[],https://www.bizbuysell.com/Business-Opportunit...
1,52000,N/A,N/A,1,NaN,2002,N/A,N/A,N/A,N/A,NaN,NaN,52000,[],https://www.bizbuysell.com/Business-Opportunit...
2,30000,N/A,N/A,NaN,Not Present,N/A,N/A,N/A,N/A,N/A,NaN,NaN,30000,[],https://www.bizbuysell.com/Business-Opportunit...
3,3620000,984713,N/A,17,NaN,2013,240150,4308226,100000,3.6762,NaN,7000.0,3620000,[],https://www.bizbuysell.com/Business-Opportunit...
4,90000,N/A,N/A,1,NaN,N/A,N/A,N/A,N/A,N/A,NaN,NaN,90000,[],https://www.bizbuysell.com/Business-Opportunit...

In [61]:
# df.to_csv("/Users/work/Dropbox/Projects/Working Data/bizbuysell/listings_20191223.csv")

In [54]:
df_ints = df[(df["Multiple"].apply(lambda x: type(x) == float)) & df["Cash Flow"].apply(lambda x: type(x) == int)]
df_ints.head()

,Asking Price,Cash Flow,EBITDA,Established,FF&E,Gross Revenue,Inventory,Multiple,Real Estate,Rent,allInPrice,notIncluded,url
3,3620000,984713,N/A,2013,240150,4308226,100000,3.6762,NaN,7000.0,3620000,[],https://www.bizbuysell.com/Business-Opportunit...
7,125000,31922,N/A,N/A,25000,278600,5000,3.91579,NaN,NaN,125000,[],https://www.bizbuysell.com/Business-Opportunit...
15,1100000,150000,150000,2005,319000,400000,10000,7.33333,800000,NaN,1100000,[],https://www.bizbuysell.com/Business-Opportunit...
22,120000,65283,N/A,N/A,2500,101860,500,1.83815,NaN,NaN,120000,[],https://www.bizbuysell.com/Business-Opportunit...
25,465000,107488,N/A,2015,5000,785986,2500,4.32606,NaN,2955.0,465000,[],https://www.bizbuysell.com/Business-Opportunit...

In [55]:
df_filtered = df_ints[(df_ints["Multiple"] < 2) & (df_ints["Cash Flow"] > 500000)]
len(df_filtered)

179